html {
  font-size: 62.5%;
}

.mediaDesktop {
  display: none;
}

.header.bg-light.container-fluid {
  padding-top: 2rem;
  padding-left: 1rem;
  margin-bottom: -2rem;
}
.header.bg-light.container-fluid .toolbar {
  list-style: none;
}
.header.bg-light.container-fluid .toolbar .toolbarDesktop {
  display: none;
}
.header.bg-light.container-fluid .toolbar .toolbarMobile .noShow {
  display: none;
}

.show {
  display: flex !important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  background-color: rgb(248, 249, 250);
  box-shadow: 0 4.8rem 4.8rem rgba(37, 47, 137, 0.08);
}
.show a {
  color: #ec5242;
  padding: 1.2rem 1.6rem;
  text-decoration: none;
  display: block;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 4.4rem;
  border-bottom: #d3d3d3 solid 0.1rem;
  list-style-type: none;
}

#home .homeIntro {
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
}
#home .homeIntro h2 {
  padding-top: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ec5242;
  font-size: 2rem;
}
#home .homeIntro h1 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #ec5242;
  font-size: 5rem;
  line-height: 5rem;
}
#home .homeIntro p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
}
#home .homeIntro .border {
  border: 0.5rem solid white !important;
  padding: 1.5rem;
}
#home .homeIntro h3 {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.5rem;
}
#home #programMain {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#home #programMain h2 {
  font-family: "Lato", sans-serif;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: -1rem;
}
#home #programMain .separator {
  width: 3rem;
  border-top: 0.2rem solid #ec5242;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}
#home #programMain .programOptions {
  display: flex;
  background-color: rgba(211, 211, 211, 0.2);
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
}
#home #programMain .programOptions .initial {
  max-width: 4rem;
  flex: 1;
}
#home #programMain .programOptions .initial img {
  width: 100%;
  height: auto;
}
#home #programMain .programOptions .middle {
  flex: 2;
  font-family: "Lato", sans-serif;
  color: #ec5242;
  text-align: center;
  font-weight: 700;
  font-size: 1.7rem;
}
#home #programMain .programOptions .final {
  flex: 3;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
}
#home #programMain .join {
  display: flex;
  margin-top: 3rem;
}
#home #programMain .join button {
  margin-left: auto;
  margin-right: auto;
  background-color: #ec5242;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  padding: 2rem 4rem;
  border-radius: 0%;
}
#home .speakers {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white !important;
}
#home .speakers h3 {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 500;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
}
#home .speakers .separator {
  width: 3rem;
  border-top: 0.2rem solid #ec5242;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}
#home .speakers .mobile {
  display: flex;
  gap: 1.5rem;
}
#home .speakers .mobile .photo {
  flex: 1;
}
#home .speakers .mobile .photo img {
  width: 100%;
  height: 100%;
}
#home .speakers .mobile .content {
  flex: 3;
}
#home .speakers .mobile .content h4 {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
#home .speakers .mobile .content h5 {
  font-family: "Lato", sans-serif;
  color: #ec5242;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
#home .speakers .mobile .content .separatorGray {
  width: 2rem;
  border-top: 0.2rem solid #d3d3d3;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
#home .speakers .mobile .content p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 1.3rem;
  line-height: 1.7rem;
}
#home .speakers .arrow {
  margin-top: 3.5rem;
  margin-bottom: 2rem;
  border: 0.2rem solid #d3d3d3;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}
#home .speakers .arrow p {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-size: 1.3rem;
  margin-bottom: 0;
}
#home .speakers .arrow p span {
  display: block;
  color: #ec5242;
  font-weight: bolder;
  margin-top: 0.4rem;
}

.aboutIntro {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}
.aboutIntro h3 {
  padding-top: 3rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ec5242;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.aboutIntro h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: #ec5242;
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
  margin-bottom: 3rem;
}
.aboutIntro p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2.5rem;
  text-align: center;
}
.aboutIntro p span {
  text-decoration: underline;
  font-weight: bold;
}
.aboutIntro .border {
  margin-bottom: 2rem;
  background-color: white;
  padding: 1.5rem;
}

.creative {
  display: flex;
  flex-direction: column;
}
.creative h3 {
  padding-top: 3rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}
.creative .separator {
  width: 3rem;
  border-top: 0.2rem solid #ec5242;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.creative p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
}
.creative .logo {
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  border: 0.1rem solid #d3d3d3;
  display: flex;
  justify-content: center;
}
.creative .logo img {
  width: 60%;
  height: auto;
}

.summit {
  display: flex;
  flex-direction: column;
  border-top: 0.2rem solid #d3d3d3;
}
.summit h3 {
  padding-top: 3rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}
.summit .separator {
  width: 3rem;
  border-top: 0.2rem solid #ec5242;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.summit p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.summit .past1 {
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.summit .past1 img {
  width: 100%;
  height: auto;
}
.summit .past2 {
  width: 85%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.summit .past2 img {
  width: 100%;
  height: auto;
}

.partner {
  padding: 2rem !important;
  display: flex;
  flex-direction: column;
}
.partner h3 {
  text-align: center;
  font-family: "Lato", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}
.partner .separator {
  width: 3rem;
  border-top: 0.2rem solid #ec5242;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}
.partner .row .col img {
  width: 100%;
  height: 80%;
}

.footeres {
  padding: 3rem !important;
}
.footeres .row .col img {
  width: 80%;
  height: auto;
}
.footeres .row .col p {
  font-family: "Lato", sans-serif;
  color: #272a31;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 768px) {
  .mediaDesktop {
    display: flex;
    padding: 0.5rem 8rem;
  }
  .mediaDesktop ul {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    align-items: center;
    margin-bottom: 0;
  }
  .mediaDesktop ul li {
    font-family: "Lato", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1rem;
  }
  .mediaDesktop ul li img {
    width: 1rem;
    height: auto;
  }
  .header.bg-light.container-fluid {
    padding-left: 8rem;
    padding-right: 8rem;
    background-color: white !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .header.bg-light.container-fluid .toolbar {
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .header.bg-light.container-fluid .toolbar .toolbarDesktop {
    display: flex;
    color: #272a31;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .header.bg-light.container-fluid .toolbar .toolbarDesktop img {
    padding-bottom: 1rem;
    width: 10rem;
    height: auto;
  }
  .header.bg-light.container-fluid .toolbar .pushright {
    margin-left: auto;
  }
  .header.bg-light.container-fluid .toolbar .pushright a {
    color: #ec5242;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3rem;
  }
  .header.bg-light.container-fluid .toolbar .toolbarMobile {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
